# # env
__pycache__
venv
.env
.DS_Store
.python-version

# encrypted vaults
secrets

# files
gfpgan
images
audio
results
checkpoints
nohup.out
*.json
*.jsonl
*.html

# data
*.js
*.log
*.txt
data
*.csv